.container {
  background-color: rgba(0, 0, 0, 0.205);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  padding: 0 1.5rem;
}

body.night {
  .container {
    background-color: rgba(0, 0, 0, 0.65);
  }
}
