@keyframes prettySpinner {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.container {
    background-color: rgba(0, 0, 0, 0.205);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    padding: 0 1.5rem;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    color: #fff;

    svg {
        font-size: 3.125rem;

        @media (max-width: 640px) {
            font-size: 2.5rem;
        }
    }
}

.localizationInfos {
    text-align: center;
    color: #fff;
    display: block;
}

.card {
    color: #858585;
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 18px;
    border: 1px solid rgba(184, 186, 190, 0.3);
    box-shadow: 0 0 1rem 2px rgba(0, 0, 0, 0.048);

    width: 100%;
    max-width: fit-content;
    padding: 1.75rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h2 {
        text-align: center;
        text-transform: uppercase;
    }

    ul {
        list-style: none;

        :nth-child(n):not(:last-child) {
            margin-bottom: 0.25rem;
        }

        li {
            display: flex;
            align-items: center;
            gap: 0.75rem;
        }
    }
}

.spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    div {
        position: absolute;
        border: 4px solid #fff;
        opacity: 1;
        border-radius: 50%;
        animation: prettySpinner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

    div:nth-child(2) {
        animation-delay: -0.5s;
    }
}

body.night {
    .card {
        color: rgb(9 19 21);
    }
    .container {
        background-color: rgba(0, 0, 0, 0.65);
    }
}
