@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$text-md: 1.3rem;
$text-base: 1rem;

body {
  font-size: $text-md;
  background: url("./assets/imgs/day.jpg") no-repeat center top;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  color: white;

  // Page
  .container {
    background-color: rgba(255, 255, 255, 0.178);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    padding: 0 1.2rem;
  }

  .header {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #d3a880;
  }

  small {
    text-align: center;
    color: #787676;
  }

  .card {
    color: #a3a3a3;

    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);

    min-width: 300px;
    max-width: 500px;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: .5rem;

    h2 {
      text-align: center;
      text-transform: uppercase;
    }

    ul {
      list-style: none;

      li {
        display: flex;
        align-items: center;
        gap: .2rem;
      }

      :nth-child(n+2):nth-child(-n+4) {
        font-size: 80%;
        padding-left: .2rem;
        gap: .4rem;
      }
    }
  }

  &.night {
    background: url("./assets/imgs/night.jpg") no-repeat center top;
    background-size: cover;

    .container {
      background-color: rgba(0, 0, 0, 0.466);
    }

    .title, small {
      color: white;
    }

    .card {
      color: rgb(9 19 21);
    }
  }
}

// Media querys
@media (max-width: 640px) {
  body {
    font-size: $text-base;
  }
}
